body{
    background-color: rgb(128, 128, 167);
    color: black;
    font-family:"Jaro", sans-serif;
    display: flex;
    justify-content: center;
    align-items:center ;
    height: 700px;
    margin: 0;
}

button{ 
    background-color: rgb(1, 12, 22);
    color: rgb(255, 251, 251);
    font-family:"Jaro", sans-serif;
}

.passo{
    display: none;
}

.passo.ativo{
    display :block;

}
main{
    text-align:center ;
    max-width:90%;
}

img{
    max-width: 40%;
}